
/*HTML base*/
body{
  font-family: Arial, Helvetica, sans-serif !important;
}

h1 {
  color:#27bcbc !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
}

/*App Classes*/
.App {
  text-align: left;
  padding: 1rem 2rem;
}

.Top-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between; 
}

.Logo-area {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 1rem;
  color: #282c34;
}

.App-logo {
  height: 5vh;
}

.Boxes{
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.Temp-box{
  border: #282c34 solid 1px;
  width: 45vw;
  padding: 1rem;
}

.Id-title{
  font-weight: 700;
}

.App-link {
  color: #61dafb;
}

.Toast{
  background-color: #1e9292 !important;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.toast-body{
  color: #ffffff;
  font-size: 1rem;
}
